* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --image-comparison-slider-width: min(80vw, 700px);
  --image-comparison-slider-handle-width: 50px;
}
body {
  font-family: 'Sen', sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
	align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light gray background */
}
#image-comparison-slider {
  position: relative;
  width: var(--image-comparison-slider-width);
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: -7px 5px 16px 1px rgba(56, 86, 122, 0.6);
  cursor: col-resize;
}
#image-comparison-slider img {
  display: block;
  width: var(--image-comparison-slider-width);
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}
#image-comparison-slider .img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  transform: translateZ(0); /* This is in order to fix a Firefox bug, related to the 3D tilt effect */
  /* transition: 0.25s cubic-bezier(.03,.98,.52,.99); */
}
#image-comparison-slider .img-wrapper img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
#image-comparison-slider .label {
  position: absolute;
  top: 1rem;
  z-index: 3;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  text-align: center;
  letter-spacing: 1px;
  user-select: none;
  opacity: 0;
  transition: 0.25s cubic-bezier(.68,.26,.58,1.22);
}
#image-comparison-slider:hover .label {
  opacity: 1;
}
#image-comparison-slider .label.label-before {
  left: 1rem;
}
#image-comparison-slider .label.label-after {
  right: 1rem;
  background-color: #f95540;
}
#image-comparison-slider .handle {
  position: absolute;
  top: 0;
  left: calc(50% - var(--image-comparison-slider-handle-width)/2);
  width: var(--image-comparison-slider-handle-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 2;
  /* transition: 0.25s cubic-bezier(.03,.98,.52,.99); */
}
#image-comparison-slider .handle-line {
  width: 1px;
  flex-grow: 1;
  background-color: #fff;
}
#image-comparison-slider .handle-circle {
  /* width: var(--image-comparison-slider-handle-width);
  height: var(--image-comparison-slider-handle-width); */
  width: 25px;
  height: 25px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgba(0,0,0,0.5); */
}

@media (max-width: 768px) {
  :root {
    --image-comparison-slider-width: 90vw;
  }
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; /* Diameter of the circle */
  height: 40px; /* Diameter of the circle */
  border-radius: 50%;
  border: none;
  color: #333; /* Button text color */
  font-size: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Depth effect */
  cursor: pointer;
  outline: none;
  z-index: 3; /* Ensure it's above other elements */
}

#left-button {
  left: 150px; /* Adjust this value as needed to move it away from the left edge */
}

#right-button {
  right: 150px; /* Adjust this value as needed to move it away from the right edge */
}

@media (max-width: 768px) {
  .slider-button {
    top: auto;
    bottom: -20px; /* Half outside the slider area */
    left: 50%;
    transform: translateX(-50%);
  }

  #left-button {
    transform: translateX(-60%); /* Move it to the left */
  }

  #right-button {
    transform: translateX(60%); /* Move it to the right */
  }
}

.header {
  font-family: 'Sen', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

#herbologistName {
  font-family: 'Sen', sans-serif;
  font-size: 25px; /* Adjust font size as needed */
  color: black; /* Set text color to black */
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent background */
  padding: 10px;
  border-radius: 10px;
  text-decoration: none; /* Remove underline */
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#herbologistName:hover {
  transform: scale(1.2); /* Enlarge on hover */
  color: black; /* Maintain black color on hover */
  text-decoration: none; /* Ensure no underline on hover */
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
  background-color: #ddd;
  padding: 10px 15px;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #ccc;
}

h1 {
  color: #333;
  font-family: 'Sen', sans-serif;
}

.content p {
  text-align: justify;
  line-height: 1.6;
  text-indent: 50px;
  font-family: 'Sen', sans-serif;
}